@media only screen and (min-width: 700px) {
  header {
    height: 80px;
  }
  header img {
    width: 36px;
    height: 36px;
    margin-left: 6.9444%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0px;
    position: relative;
  }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 100%;
  }
  header .menu .tres-rayas {
    display: none;
  }
  header .menu .x {
    display: none;
  }
  header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 100px;
    background: none;
    margin-top: 0px;
    padding: 0px;
  }
  header .menu ul li {
    text-align: end;
    margin-left: 48px;
    border: none;
    margin-top: 0px;
    margin-right: 0px;
  }
  header .menu ul li a {
    font-size: 16px;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
  }
  header .menu #btn-menu:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 100px;
    background: none;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 900px) {
  .inicio {
    margin: 120px 0px 5px 14%;
  }
  .inicio .hello {
    display: none;
  }
  .inicio .hello2 {
    display: block;
    margin: 0px;
    font-size: 64px;
    color: #060A24;
    font-family: "IBM Plex Sans", sans-serif;
  }
  .inicio .hello2 span {
    text-decoration: line-through;
  }
  .inicio p {
    display: none;
  }
  .inicio .p2 {
    display: block;
    margin: 0px;
    width: 628px;
    height: 48px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #060A24;
  }
  .inicio a {
    text-decoration: none;
  }
  .inicio a .boton {
    margin: 56px 0px 0px 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 226px;
    height: 56px;
    background: #00F3BB;
  }
  .inicio a .boton div {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
  }
}

@media only screen and (min-width: 600px) {
  .podcast-audios {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1042.6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .podcast-audios .episodios {
    height: 882px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: skewy(-6deg);
            transform: skewy(-6deg);
  }
  .podcast-audios .episodios .container-titulo-audios {
    -webkit-transform: skewy(6deg);
            transform: skewy(6deg);
    height: 882px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .podcast-audios .episodios .container-titulo-audios .titulo {
    margin: 105.7px 0px 26px 14%;
    font-size: 48px;
  }
  .podcast-audios .episodios .container-titulo-audios .audios {
    margin: 0px auto 0px auto;
    padding: 0px;
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 5.806%;
            column-gap: 5.806%;
    row-gap: 72px;
    width: 86.11%;
    height: 536px;
    -ms-grid-columns: 47.09% 47.09%;
        grid-template-columns: 47.09% 47.09%;
    -ms-grid-rows: 232px 232px;
        grid-template-rows: 232px 232px;
  }
  .podcast-audios .episodios .container-titulo-audios .audios .podcasts {
    margin: 0px;
  }
}

@media only screen and (min-width: 900px) {
  .celular-dedondevenimos {
    z-index: 1;
    width: 68.33%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px 0px 0px 13.88%;
    padding: 0px;
  }
  .celular-dedondevenimos .mujer {
    width: 46.504%;
    margin: -150px 6.341% 0px 0px;
    height: auto;
  }
  .celular-dedondevenimos .mujer img {
    width: 100%;
    height: auto;
  }
  .celular-dedondevenimos .dedondevenimos {
    margin-top: 20.4px;
    width: 47.15%;
  }
  .celular-dedondevenimos .dedondevenimos .titulo {
    display: none;
  }
  .celular-dedondevenimos .dedondevenimos .titulo2 {
    display: block;
    margin: 0px 0px 24px 0px;
    padding: 0px;
    color: #060A24;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    width: 140%;
  }
  .celular-dedondevenimos .dedondevenimos p {
    padding: 0px;
    color: #060A24;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    width: 140%;
  }
}

@media only screen and (min-width: 600px) {
  .galeria {
    margin-top: 64px;
    width: 100%;
    height: auto;
  }
  .galeria .titulo {
    margin: 0px 0px 14px 14%;
    padding: 0px;
    color: #060A24;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
  }
  .galeria .fotos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 0px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
  }
  .galeria .fotos .imagen {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .galeria .fotos .imagen img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .titulo-temas {
    width: auto;
    height: auto;
    margin: 64px 0px 56px 14%;
    padding: 0px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #060A24;
  }
  .contenedor-temas {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor-temas .tema {
    width: 260px;
    height: auto;
    margin: 0px 0px 34px 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor-temas .tema img {
    width: 104px;
    height: 104px;
  }
  .contenedor-temas .tema .etiqueta {
    margin-top: 13px;
    font-family: "IBM Plex Sans", sans-serif;
    color: #060A24;
    font-size: 24px;
    text-align: center;
  }
}

@media only screen and (min-width: 700px) {
  .contenedor-novedades {
    width: 100%;
    height: 518px;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
  }
  .contenedor-novedades .novedades {
    width: 100%;
    height: 518px;
    padding: 0px;
    margin: 0px;
    background: #0000FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: skewy(-5deg);
            transform: skewy(-5deg);
  }
  .contenedor-novedades .novedades .container-texto-boton {
    width: 100%;
    height: 341px;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: skewy(5deg);
            transform: skewy(5deg);
  }
  .contenedor-novedades .novedades .container-texto-boton .texto {
    margin-top: 124.5px;
    padding: 0px;
    width: auto;
    height: auto;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
  }
  .contenedor-novedades .novedades .container-texto-boton a {
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 36px;
  }
  .contenedor-novedades .novedades .container-texto-boton a .boton {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 345px;
    height: 56px;
    background: #00F3BB;
  }
  .contenedor-novedades .novedades .container-texto-boton a .boton div {
    font-size: 16px;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #060A24;
  }
  .contenedor-novedades .novedades .container-texto-boton .boton:hover {
    background: -webkit-gradient(linear, left top, right top, from(#00F0B8), to(#0000FE));
    background: linear-gradient(to right, #00F0B8, #0000FE);
  }
  .contenedor-novedades .novedades .container-texto-boton .boton:hover div {
    color: #FFFFFF;
  }
}

@media only screen and (min-width: 700px) {
  .pie {
    width: 100%;
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pie h6 {
    width: auto;
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
    text-align: center;
    margin-left: 100px;
  }
  .pie .iconos {
    width: 300px;
    height: auto;
    margin-right: 6.9444%;
  }
}
/*# sourceMappingURL=Desktop.css.map */