@import "letrasycolores.scss";


// media para menu
@media only screen and (min-width:700px) {


    header {
        height: 80px;
        img {
            
            width: 36px;
            height: 36px;
            margin-left: 6.9444%;
           align-self: center;
           margin-top: 0px;
           position: relative;
        }

.menu{
        display: flex;
        width: auto;
        height: 100%;


label {
    display: none;
}


ul {
   display: flex;
   width:auto ;
   height: auto;
   align-items: center;
   margin-right: 100px;
   background: none;
   margin-top: 0px;
   padding:0px;
   
   
   li {
       text-align: end;
       margin-left: 48px;
       border: none;
       margin-top: 0px;
       margin-right: 0px;

          
       a {
        font-size: 16px;
        text-decoration:none;
        font-family: $tipo-letras1 ;
        color: $color-letras1;
    }    
   }

}

#btn-menu:checked ~ ul{
    display: flex;
    width:auto ;
    height: auto;
    align-items: center;
    margin-right: 100px;
    background: none;
    margin-top: 0px;
  }


}
    }
 



}
//  FIN media para menu

// MEDIA PARA TITULO E INICIO DEL PODCAST

@media only screen and (min-width:900px){

.inicio{
        
        margin: 120px 0px 5px 14%;
    .hello {
        display: none;

    }
    .hello2 {
        
        display: block;
        margin:  0px;
        font-size: 64px;
        color: $color-letras1;
        font-family: $tipo-letras2;
        span{
            text-decoration: line-through;
        }
    }

    p {
        display: none;
    }
    .p2 {
        display: block;
        margin: 0px;
        width: 628px;
        height: 48px;
        font-family: $tipo-letras1;
        font-size: 16px;
        color: $color-letras1;
    }

    a { 
        text-decoration: none;
    .boton{
        margin: 56px 0px 0px 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 226px;
        height: 56px;              
        background:#00F3BB ;
           
         div{
            font-size: 16px;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'IBM Plex Sans', sans-serif;
            color: $color-letras1;
        }
        }
        }
}

}

// FIN TITULO E INICIO DEL PODCAST

// AUDIOS

@media only screen and (min-width:600px){
.podcast-audios { 
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    height: 1042.6px;
                    display: flex;
                    align-items: center;

.episodios {
    height: 882px;
    width: 100%;
    display: flex;
    align-items: center;
    transform: skewy(-6deg);
    
    
    .container-titulo-audios {
         transform: skewy(6deg);
        height: 882px;
        margin:0px;
         padding: 0px;
         width: 100%;
         display: flex;
         flex-direction: column;
       

    .titulo{
        margin: 105.7px 0px 26px 14%;
        font-size: 48px;
    }
    .audios{
        margin: 0px auto 0px auto;
        padding: 0px;
        display: grid;
        column-gap: 5.806%;
        row-gap: 72px;
        width: 86.11%;
        height: 536px;
        grid-template-columns: 47.09% 47.09%;
        grid-template-rows: 232px 232px;
      


.podcasts {
    margin:0px;

}

    }
}
 }


}
}
// FIN AUDIOS

// CELULAR Y DE DONDE VENIMOS
@media only screen and (min-width:900px){
.celular-dedondevenimos {
    z-index: 1;
    width: 68.33%;
    height: auto;
    flex-direction: row;
    margin: 0px 0px 0px 13.88%;
    padding:0px;

    
    .mujer {
        width: 46.504%;
        margin: -150px 6.341% 0px 0px;
        height: auto;
        
        img {
            width: 100%;
            height: auto;
             }
             }

    .dedondevenimos {
                margin-top: 20.4px;    
                width:47.15%;
                .titulo {
                    display: none;
                }
                .titulo2 {
                    display: block;
                    margin: 0px 0px 24px 0px;
                    padding: 0px;
                    color: $color-letras1;
                    font-family: $tipo-letras2;
                    font-size: 48px;
                    width: 140%;
                    
                }
                p {
                   
                    padding: 0px;
                    color: $color-letras1;
                    font-family: $tipo-letras1;
                    font-size: 16px;
                    width: 140%;
                }

    }

}

}


// FIN CELULAR Y DE DONDE VENIMOS

// GALERIA
@media only screen and (min-width:600px){
.galeria {
margin-top: 64px;
width: 100%;
height: auto;
.titulo {
        
        margin: 0px 0px 14px 14%;
        padding: 0px;
        color: $color-letras1;
        font-family: $tipo-letras2;
        font-size: 48px;
        
}
.fotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    row-gap: 0px;
    column-gap: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;

    .imagen {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
     
            img {
                margin:0px;
                padding: 0px;
                width: 100%;
                height: 100%;
            }

    }


}
}
}
// FIN GALERIA 

// TEMAS
@media only screen and (min-width:700px){
.titulo-temas { 
    width: auto;
    height: auto;
    margin: 64px 0px 56px 14%;
    padding: 0px;
    font-family: $tipo-letras2;
    font-size: 48px;
    color: $color-letras1;
}

.contenedor-temas {
width: 100%;
height: auto;
margin: 0px;
padding: 0px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;


.tema{
width: 260px;
height: auto;
margin: 0px 0px 34px 0px;
padding:0px;
display: flex;
flex-direction: column;
align-items: center;

img {
width: 104px;
height: 104px;
}
.etiqueta {
margin-top: 13px;
font-family: $tipo-letras3;
color: $color-letras1;
font-size: 24px;
text-align: center;

}
}


}
}


// FIN TEMAS

// NOVEDADES
@media only screen and (min-width:700px){
    .contenedor-novedades{
        width: 100%;
        height: 518px;
        padding: 0px;
        margin: 0px;
        display: flex;
        overflow: hidden;
       


.novedades{
    width: 100%;
    height: 518px;
    padding: 0px;
    margin: 0px;
    background: #0000FF; 
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewy(-5deg);
    
    .container-texto-boton{
        width: 100%;
        height: 341px;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        transform: skewy(5deg);
        


    .texto {
            margin-top:124.5px;
            padding: 0px;
            width: auto;
            height: auto;
            font-family: $tipo-letras2;
            font-size: 48px;
            color: #FFFFFF;
            text-align: center;
            
   
}


    a { 
        text-decoration: none;
        align-self: center;
        margin-top: 36px;

    .boton{
       
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 345px;
        height: 56px;              
        background:#00F3BB ;
           
         div{
            font-size: 16px;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'IBM Plex Sans', sans-serif;
            color: $color-letras1;
        }
        }
        }
        .boton:hover{
            background: linear-gradient(to right,#00F0B8,#0000FE);
             div {color: #FFFFFF;}
        }       

    }
}
    }
}
// FIN NOVEDADES

// footer 
@media only screen and (min-width:700px){

.pie {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    h6 {
        width: auto;
        font-size: 16px;
        font-family: $tipo-letras1;
        color: $color-letras1;
        text-align: center;
        margin-left: 100px;
    }
    .iconos{
        width: 300px;
        height: auto;
        
        margin-right: 6.9444%;
    }
}
}
// FIN FOOTER

