h2 {
  font-weight: normal;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header img {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-top: 10px;
}

header .menu {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

header .menu #btn-menu {
  display: none;
}

header .menu label {
  display: block;
  float: right;
  width: 24px;
  padding: 0px;
  margin: 13px 19px 13px 0px;
}

header .menu label span {
  display: block;
  width: 18px;
  height: 2px;
  margin: 3px;
  background: #000;
}

header .menu label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

header .menu ul {
  margin: 44px 0px 0px 0px;
  list-style: none;
  display: none;
  width: 100%;
  height: 224px;
  background: #0000EC;
  padding: 12px 0px 0px 0px;
}

header .menu ul li {
  margin-top: 24px;
  text-decoration: none;
  text-align: start;
  margin-left: 16px;
}

header .menu ul li a {
  font-size: 16px;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: #FFFFFF;
}

header .menu ul li:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#btn-menu:checked ~ ul {
  display: block;
}

.inicio {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  margin: 16px;
}

.inicio .hello {
  margin: 29px 0px 16px 0px;
  font-size: 36px;
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
}

.inicio .hello span {
  text-decoration: line-through;
}

.inicio .hello2 {
  display: none;
}

.inicio p {
  margin: 0px;
  width: 288px;
  height: 66px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 24px;
}

.inicio .p2 {
  display: none;
}

.inicio a {
  text-decoration: none;
}

.inicio a .boton {
  margin: 36px 0px 24px 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 288px;
  height: 48px;
  background: #00F3BB;
}

.inicio a .boton div {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
}

.inicio .boton:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00F0B8), to(#0000FE));
  background: linear-gradient(to right, #00F0B8, #0000FE);
}

.inicio .boton:hover div {
  color: #FFFFFF;
}

.podcast-audios {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 1203.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.podcast-audios .episodios {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1160px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewy(-6deg);
          transform: skewy(-6deg);
}

.podcast-audios .episodios .container-titulo-audios {
  -webkit-transform: skewy(6deg);
          transform: skewy(6deg);
  height: 996px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.podcast-audios .episodios .container-titulo-audios .titulo {
  margin: -39.75px 147px 0px 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
}

.podcast-audios .episodios .container-titulo-audios .audios {
  margin: 21px 11px 0px 11px;
  padding: 0px;
  width: 93.12%;
  height: 1076.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.podcast-audios .episodios .container-titulo-audios .audios .podcasts {
  margin: 0px 0px 11px 0px;
  height: 225px;
}

.podcast-audios .episodios .container-titulo-audios .audios .podcasts iframe {
  width: 100%;
  height: 232px;
  border-radius: 15px;
  border: none;
}

.celular-dedondevenimos {
  position: relative;
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -95.5px;
  z-index: 1;
}

.mujer {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 519px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mujer img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 360px;
  height: 519px;
}

.dedondevenimos {
  position: relative;
  margin: auto;
  padding: 0px;
  width: 93.125%;
  height: 346px;
}

.dedondevenimos .titulo {
  margin: 0px;
  padding: 0px;
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
}

.dedondevenimos .titulo2 {
  display: none;
}

.dedondevenimos p {
  color: #060A24;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

.galeria {
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 54px;
}

.galeria .titulo {
  margin: 0px 0px 14px 0px;
  padding: 0px;
  color: #060A24;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  margin-left: 3.43%;
}

.galeria .fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 1458px;
}

.galeria .fotos .imagen {
  width: 100%;
  height: 243px;
  margin: 0px;
  padding: 0px;
}

.galeria .fotos .imagen img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.titulo-temas {
  width: 288px;
  height: 84px;
  margin: 48px 11px 37px 11px;
  padding: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
}

.contenedor-temas {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-temas .tema {
  width: 100%;
  height: auto;
  margin: 0px 0px 65px 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-temas .tema img {
  width: 104px;
  height: 104px;
}

.contenedor-temas .tema .etiqueta {
  margin-top: 13px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  font-size: 24px;
}

.contenedor-novedades {
  width: 100%;
  height: 341px;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.contenedor-novedades .novedades {
  width: 100%;
  height: 341px;
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skewy(-6deg);
          transform: skewy(-6deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.contenedor-novedades .novedades .container-texto-boton {
  width: 100%;
  height: 341px;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: skewy(6deg);
          transform: skewy(6deg);
}

.contenedor-novedades .novedades .container-texto-boton .texto {
  margin-top: 50px;
  padding: 0px;
  width: 288px;
  height: 126px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contenedor-novedades .novedades .container-texto-boton a {
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 37px;
}

.contenedor-novedades .novedades .container-texto-boton a .boton {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 288px;
  height: 48px;
  background: #00F3BB;
}

.contenedor-novedades .novedades .container-texto-boton a .boton div {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #060A24;
}

.contenedor-novedades .novedades .container-texto-boton .boton:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00F0B8), to(#0000FE));
  background: linear-gradient(to right, #00F0B8, #0000FE);
}

.contenedor-novedades .novedades .container-texto-boton .boton:hover div {
  color: #FFFFFF;
}

.pie {
  width: 100%;
  height: 121px;
}

.pie h6 {
  font-size: 14px;
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  text-align: center;
}

.pie .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.pie .iconos i {
  width: auto;
  height: auto;
  margin: 0px  5.9375% 0px 5.9375%;
}
/*# sourceMappingURL=styles.css.map */