
@import "letrasycolores";

h2 {
    font-weight:normal;}

// MOVILE

body {
    // border: 1px solid blue;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
// menu y encabezado
header{
   
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    

    img {   
            position: absolute;
            width: 24px;
            height: 24px;
            margin-left: 16px;
            margin-top: 10px;
             
        }
    

    .menu{     
            
            margin: 0px;
            padding: 0px;
            height: auto;
            width: 100%;
            box-sizing: border-box;
            position: relative;
           

    
         
         #btn-menu {
             display: none;
            }
     
    .tres-rayas {  display: block;
             float: right;
             width: 24px;
             padding: 0px;
             margin: 13px 19px 13px 0px;
             
             

        span {    
                display: block;
                width: 18px;
                height: 2px;
                margin: 3px;
                background: #000;
                }

     
        
        }
   
       .x {
        display: none;
                
        float: right;
        width: 18px;
        height: 18px;
        padding: 0px;
        margin: 13px 19px 13px 91%;

             img {
                margin:0px;
                padding: 0px;
                width: 18px;
                height: 18px;
             
    
            }
                 
        }

        label:hover {
            cursor: pointer;
            
             }
             .x:hover {
                cursor: pointer;
                
             }
        
            ul {  
                margin: 44px 0px 0px 0px;
                list-style: none;
                display: none;
                width: 100%;
                height: 224px;
                background: #0000EC;
                padding: 12px 0px 0px 0px ;
                
             
            li{     margin-top: 24px;
                    text-decoration:none;
                    text-align: start;
                    
                    margin-left: 16px;
                    
                   
                a {
                    font-size: 16px;
                    text-decoration:none;
                    font-family: $tipo-letras1 ;
                    color: #FFFFFF;
                }    
                 
               
        }
        li:hover {
            background: rgba(0,0,0,0.3);
            cursor: pointer;
        }

        }


        }



    }   

#btn-menu:checked ~ ul{
    display:block;
  }


  #btn-menu:checked ~ .tres-rayas{
    display: none;
      }

      #btn-menu:checked ~ .x{
        display: block;
          }
// FIN menu y encabezado

// TITULO E INICIO DEL PODCAST

.inicio {
    margin: 0px;
    padding: 0px;
    width:auto;
    height: auto;
    margin: 16px;

    .hello {
        margin: 29px 0px 16px 0px;
        font-size: 36px;
        color: $color-letras1;
        font-family: $tipo-letras2;
        width: 100%;

        span{
            text-decoration: line-through;
        }
    }
    .hello2 {
        display: none;
    
    }
    p{
        margin: 0px;
        width: 288px;
        height: 66px;
        font-family: $tipo-letras1;
        font-size: 14px;
        color: $color-letras1;
        letter-spacing: 0;
        line-height: 24px;
    }
    .p2 {
        display: none;
    }
    a { 
        text-decoration: none;
    .boton{
        margin: 36px 0px 24px 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 288px;
        height: 48px;              
        background:#00F3BB ;
           
         div{
            font-size: 16px;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'IBM Plex Sans', sans-serif;
            color: $color-letras1;
        }
        }
        }
        .boton:hover{
            background: linear-gradient(to right,#00F0B8,#0000FE);
             div {color: #FFFFFF;}
        }       
}

// FIN DE INICIO 

// EPISODIOS
.podcast-audios { 
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1203.5px;
    display: flex;
    align-items: center;
   


.episodios{ 
    
    margin:0px;
    padding: 0px;
    width: 100%;
    display: flex;
   align-items: center;

    height: 1160px;
    
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewy(-6deg);
    // z-index: -1;
    
    .container-titulo-audios {
        transform: skewy(6deg);
       height: 996px;
       margin:0px;
        padding: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
       


     .titulo{
        
        margin: -39.75px 147px 0px 16px;
        font-family: $tipo-letras2;
        font-size: 36px;
        color: #FFFFFF;
    }
   

.audios{
    
    margin: 21px 11px 0px 11px;
    padding: 0px;
    width: 93.12%;
    height: 1076.5px; 
    display: flex;
    flex-direction: column;
    align-items: center;


    
    .podcasts{ 
                margin: 0px 0px 11px 0px;
                
                height: 225px;

    
    iframe {
        width:100%;
        height: 232px;
        border-radius: 15px;
        border: none;
    }
        }   


}
    }
}
}

// fin de audios



.celular-dedondevenimos { 
    position: relative;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -95.5px;
    z-index: 1;
    
}


// foto mujer en celular

.mujer {
   
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 519px;
    margin: 0px;
    display: flex;
    justify-content: center;
    

    img {display: flex;
        align-self: center;
        width: 360px;
        height: 519px;
    }
}

// FIN FOTO MUJER

// INICIO "DE DONDE VENIMOS"

.dedondevenimos {
    
    position: relative;
    margin: auto;
    padding: 0px;
    width: 93.125%;
    height: 346px; 
 
   .titulo {
        margin: 0px;
        padding: 0px;
        color: $color-letras1;
        font-family: $tipo-letras2;
        font-size: 36px;
        letter-spacing: 0;
        
    }
    .titulo2 {
        display: none;
    }

    p {
        color: $color-letras1;
        font-family: $tipo-letras1;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
        
    }

}
// fin de donde venimos






// inicio de galeria de fotos

.galeria {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 54px;

    .titulo{
        margin: 0px 0px 14px 0px;
        padding: 0px;
        color: $color-letras1;
        font-family: $tipo-letras2;
        font-size: 36px;
        margin-left: 3.43%;
        
    }

    .fotos {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;

        .imagen {
                width: 100%;
                height: auto;
                margin: 0px;
                padding: 0px;
         
                img {
                    margin:0px;
                    padding: 0px;
                    width: 100%;
                    height: 100%;
                }

        }

    }

}
//fin de galeria de fotos

// inicio de "temas"
.titulo-temas { 
                width: 288px;
                height: 84px;
                margin: 48px 11px 37px 11px;
                padding: 0px;
                font-family: $tipo-letras2;
                font-size: 36px;
                color: $color-letras1;
}

.contenedor-temas {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

.tema{
    width: 100%;
    height: auto;
    margin: 0px 0px 65px 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
    align-items: center;

img {
    width: 104px;
    height: 104px;
}
.etiqueta {
    margin-top: 13px;
    font-family: $tipo-letras3;
    color: $color-letras1;
    font-size: 24px;
    
}
}


}


// FIN DE TEMAS 

// INICIO DE NOVEDADES
.contenedor-novedades{
    width: 100%;
    height: 341px;
    padding: 0px;
    margin: 0px;
    display: flex;
    overflow: hidden;

.novedades{
    width: 100%;
    height: 341px;
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    display: flex;
    
   align-items: center;
   transform: skewy(-6deg);
   transform-origin: top right;

    .container-texto-boton{
        width: 100%;
        height: 341px;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        transform: skewy(6deg);
   


    .texto {
            margin-top: 50px;
            padding: 0px;
            width: 288px;
            height: 126px;
            font-family: $tipo-letras2;
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
            align-self: center;
            
   
}


    a { 
        text-decoration: none;
        align-self: center;
        margin-top: 37px;

    .boton{
       
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 288px;
        height: 48px;              
        background:#00F3BB ;
           
         div{
            font-size: 16px;
            font-family: 'IBM Plex Mono', monospace;
            font-family: 'IBM Plex Sans', sans-serif;
            color: $color-letras1;
        }
        }
        }
        .boton:hover{
            background: linear-gradient(to right,#00F0B8,#0000FE);
             div {color: #FFFFFF;}
        }       

    }
}
}

// FIN NOVEDADES

// FOOTER
.pie {
    width: 100%;
    height: 121px;

    h6 {
        font-size: 14px;
        font-family: $tipo-letras1;
        color: $color-letras1;
        text-align: center;
    }
    .iconos{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        
        
        a{
            width: auto;
            height: auto;
             margin: 0px  5.9375% 0px 5.9375%;
            color: black;
        }
    }
}
// FIN FOOTER



